Repository philharmoniedeparis/ScoreBot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape, AutoDeploy:kubeConfig:uape

.gitlab-ci.yml:

include:
  - .gitlab/templates/.AutoBuildImage.template.gitlab-ci.yml
  - .gitlab/templates/.AutoDeploy.template.gitlab-ci.yml
  - .gitlab/templates/.AutoTrain.template.gitlab-ci.yml

stages:
  - merge:capabilities
  - build:environment
  - deploy
  - train

before_script:
  - APP_VERSION=$(grep 'APP_VERSION' Dockerfile | cut -d '=' -f 2 | head -n 1) || true

AutoCheck:gitPullRequired:
  image: docker:20.10.20-git
  stage: merge:capabilities
  before_script:
    - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
    - chmod +x DevOps/workflow/merge-capabilities.sh
  script:
    - ./DevOps/workflow/merge-capabilities.sh origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  only:
    refs:
      - merge_requests
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME != "main" && $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME != "main"

AutoCheck:ok:
  image: docker:20.10.20-git
  stage: merge:capabilities
  script:
    - echo "ok"
  only:
    refs:
      - merge_requests
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"


AutoTrain:uate:
  environment:
    action: prepare
    name: uat
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
      changes:
        - data/**/*
  extends: .rasa_train

AutoBuildImage:uate:
  environment:
    action: prepare
    name: uat
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
      changes:
        - actions/**/*
  image: docker:20.10.20
  variables:
    IMAGE_ENV: '-uate'
  extends: .build-docker-image

AutoBuildImage:uape:
  environment:
    action: prepare
    name: prd
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - actions/**/*
  image: docker:20.10.20
  variables:
    IMAGE_ENV: ''
  extends: .build-docker-image


AutoDeploy:helmChart:uate:
  stage: deploy
  needs: ['AutoBuildImage:uate']
  environment:
    name: uat
  variables:
    IMAGE_ENV: '-uate'
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
      changes:
        - actions/**/*
  extends: .deploy_to_kubernetes


AutoDeploy:helmChart:uape:
  stage: deploy
  needs: ['AutoBuildImage:uape']
  environment:
    name: prd
  variables:
    IMAGE_ENV: ''
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - actions/**/*
  extends: .deploy_to_kubernetes


AutoDeploy:kubeConfig:uape:
  stage: deploy
  environment:
    name: prd
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - DevOps/helm/configs/graphdb.yaml
  extends: .deploy_to_kubernetes_graphdb_config

#AutoTag:uape:
#  stage: release
#  image: registry.gitlab.com/gitlab-org/release-cli:latest
#  needs: ['AutoDeploy:helmChart:uape']
#  environment:
#    name: prd
#    action: prepare
#  cache: {}
#  script:
#    - release-cli create --name "Philarmonie v$APP_VERSION" --description "Version $APP_VERSION of Philarmonie" --tag-name "v$APP_VERSION" --milestone "1.0"
#  only:
#    - main
#  when: on_success

* fix
  .gitignore
  .gitlab-ci.yml
Due: none

Correct vocabularies for flute
  data/nlu/nlu_entities_iaml.yml
  data/nlu/nlu_entities_mimo.yml
  data/nlu/nlu_intents.yml
  utils/medias_synonyms.py
Due: AutoTrain:uate

Add missing example + delete parentheses in medias
  data/nlu/nlu_entities_agents.yml
  data/nlu/nlu_entities_iaml.yml
  data/nlu/nlu_entities_mimo.yml
  data/nlu/nlu_intents.yml
  utils/agents_synonyms.py
  utils/genres_synonyms.py
  utils/intent_writer.py
  utils/locations_synonyms.py
  utils/medias_synonyms.py
Due: AutoTrain:uate

Add new genres from DB
  data/nlu/nlu_entities_genres.yml
  data/nlu/nlu_entities_mimo.yml
  data/nlu/nlu_intents.yml
  utils/genres_synonyms.py
  utils/intent_writer.py
  utils/medias_synonyms.py
Due: AutoTrain:uate

Various bugfixing in agents
  data/nlu/nlu_entities_agents.yml
  data/nlu/nlu_intents.yml
  utils/agents_synonyms.py
  utils/intent_writer.py
Due: AutoTrain:uate

Fix genre variable name problem
  data/nlu/nlu_entities_genres.yml
  data/nlu/nlu_intents.yml
  utils/genres_synonyms.py
Due: AutoTrain:uate

Add new query for children instruments
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Add combinations genre/period/location
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate

Add more genre/location/period combinations
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate

Fix wrong query keywords for dev/prod
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Localisation and genre debugging
  data/nlu/nlu_entities_genres.yml
  data/nlu/nlu_entities_locations.yml
  data/nlu/nlu_intents.yml
  utils/genres_synonyms.py
  utils/intent_writer.py
  utils/locations_synonyms.py
Due: AutoTrain:uate

Add singer entity
  data/nlu/nlu_entities_iaml.yml
  data/nlu/nlu_intents.yml
  utils/medias_synonyms.py
Due: AutoTrain:uate

Delete all iaml instrument entities to only keep voices
  data/nlu/nlu_entities_iaml.yml
  data/nlu/nlu_intents.yml
  utils/medias_synonyms.py
Due: AutoTrain:uate

Rollback old query before filter exists
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Delete useless old query in comment
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Rename unused vars
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Debugging for genre/locale/period
  actions/actions.py
  data/nlu/nlu_entities_agents.yml
  data/nlu/nlu_entities_genres.yml
  data/nlu/nlu_intents.yml
  utils/agents_synonyms.py
  utils/genres_synonyms.py
  utils/intent_writer.py
Due: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Fix missing type reassignment to mediums
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Continue debugging on locale/genre/period
  data/nlu/nlu_entities_iaml.yml
  data/nlu/nlu_intents.yml
  utils/genres_synonyms.py
  utils/medias_synonyms.py
Due: AutoTrain:uate

Debugging for genres and levels
  data/nlu/nlu_entities_genres.yml
  data/nlu/nlu_entities_level.yml
  data/nlu/nlu_intents.yml
  utils/genres_synonyms.py
  utils/intent_writer.py
  utils/levels_synonyms.py
Due: AutoTrain:uate

Better and faster query from Thomas + NLU
  actions/actions.py
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Fix lucene index query
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Delete useless entity
  data/nlu/nlu_intents.yml
  utils/agents_synonyms.py
  utils/old_agents_synonyms.py
Due: AutoTrain:uate

Add forgotten total medium number to query
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Add new NLU examples following Cecile QA
  data/nlu/nlu_entities_agents.yml
  data/nlu/nlu_entities_formations.yml
  data/nlu/nlu_intents.yml
  utils/formations_synonyms.py
  utils/intent_writer.py
Due: AutoTrain:uate

Add new work_names
  data/nlu/nlu_intents.yml
  utils/work_names_synonyms.py
Due: AutoTrain:uate

Add new examples from Cécile tests
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate

New examples with uniquement seulement
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate

overfit on Cecile example
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate

overfit on Cecile's examples
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
  utils/work_names_synonyms.py
Due: AutoTrain:uate

overfit on Cecile's examples
  data/nlu/nlu_entities_level.yml
  data/nlu/nlu_intents.yml
  utils/levels_synonyms.py
Due: AutoTrain:uate

Add NLU examples from Cecile tests
  data/nlu/nlu_entities_level.yml
  data/nlu/nlu_entities_periods.yml
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
  utils/levels_synonyms.py
  utils/periods_synonyms.py
  utils/work_names_synonyms.py
Due: AutoTrain:uate

Fix period query filter with U66
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Fix period filter in query
  actions/actions.py
  data/nlu/nlu_entities_level.yml
  data/nlu/nlu_entities_periods.yml
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
  utils/levels_synonyms.py
  utils/periods_synonyms.py
  utils/work_names_synonyms.py
Due: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Add new NLU examples for period
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate

Add NLU examples
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate

Add training data
  data/nlu/nlu_entities_agents.yml
  data/nlu/nlu_entities_formations.yml
  data/nlu/nlu_entities_genres.yml
  data/nlu/nlu_entities_iaml.yml
  data/nlu/nlu_entities_level.yml
  data/nlu/nlu_entities_mimo.yml
  data/nlu/nlu_entities_periods.yml
  data/nlu/nlu_intents.yml
  domain.yml
Due: AutoTrain:uate

Add 4 new examples
  data/nlu/nlu-basic.yml
  data/nlu/nlu_intents.yml
  domain.yml
Due: AutoTrain:uate
