Repository philharmoniedeparis/ScoreBot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape, AutoDeploy:kubeConfig:uape

AutoTrain:uate:
  environment:
    action: prepare
    name: uat

AutoBuildImage:uate:
  environment:
    action: prepare
    name: uat
  image: docker:20.10.20
  variables:
    IMAGE_ENV: -uate

AutoBuildImage:uape:
  environment:
    action: prepare
    name: prd
  image: docker:20.10.20
  variables:
    IMAGE_ENV: ''

AutoDeploy:helmChart:uate:
  stage: deploy
  needs:
  - AutoBuildImage:uate
  environment:
    name: uat
  variables:
    IMAGE_ENV: -uate

AutoDeploy:helmChart:uape:
  stage: deploy
  needs:
  - AutoBuildImage:uape
  environment:
    name: prd
  variables:
    IMAGE_ENV: ''

AutoDeploy:kubeConfig:uape:
  stage: deploy
  environment:
    name: prd

Add search label to hide all the ids returned in results
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Dummy commit
  README.md
Due: none

Add buttons on direct_query, directly display results, fix wording
  actions/actions.py
  domain.yml
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Dummy push for training
  data/nlu/nlu-basic.yml
Due: AutoTrain:uate

Add all buttons on new search, add display results on filter bug
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Try Lookup tables, add new wording in intro msg
  data/nlu/nlu_entities_agents_lookup.yml
  data/nlu/nlu_entities_genres_lookup.yml
  data/nlu/nlu_entities_iamls_lookup.yml
  data/nlu/nlu_entities_locations_lookup.yml
  data/nlu/nlu_entities_mimos_lookup.yml
  data/nlu/nlu_entities_periods_lookup.yml
  data/nlu/nlu_intents.yml
  domain.yml
  utils/intent_writer.py
  utils/write_entities.py
Due: AutoTrain:uate

Add introductory example
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate

Add new query button if filter fails
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Add more VIP agents to training set
  data/nlu/nlu_entities_agents.yml
  data/nlu/nlu_entities_agents_lookup.yml
  data/nlu/nlu_intents.yml
  utils/agents_synonyms.py
  utils/intent_writer.py
Due: AutoTrain:uate

Use CRFEntityExtractor
  config.yml
  data/nlu/nlu-basic.yml
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate

Weird 14/03 changes
  data/nlu/nlu-basic.yml
  data/nlu/nlu_entities_mimo.yml
  data/nlu/nlu_intents.yml
Due: AutoTrain:uate

Try LanguageModelFeaturizer
  config.yml
Due: none

Dummy training push
  data/nlu/nlu_entities_formations.yml
Due: AutoTrain:uate

Add transformers to requirements.txt
  requirements.txt
Due: none

New data generated by Philharmonie team
  data/nlu/nlu_entities_agents.yml
  data/nlu/nlu_entities_formations.yml
  data/nlu/nlu_entities_genres.yml
  data/nlu/nlu_entities_iaml.yml
  data/nlu/nlu_entities_level.yml
  data/nlu/nlu_entities_locations.yml
  data/nlu/nlu_entities_mimo.yml
Due: AutoTrain:uate

Ajout des données générées par les équipes Philharmonie dans develop
  data/nlu/nlu-basic.yml
  data/nlu/nlu_entities_agents.yml
  data/nlu/nlu_entities_formations.yml
  data/nlu/nlu_entities_genres.yml
  data/nlu/nlu_entities_iaml.yml
  data/nlu/nlu_entities_level.yml
  data/nlu/nlu_entities_locations.yml
  data/nlu/nlu_entities_mimo.yml
  data/nlu/nlu_intents.yml
  domain.yml
  utils/intent_writer.py
Due: AutoTrain:uate

Rasa X annotations
  data/nlu/nlu_entities_agents.yml
  data/nlu/nlu_entities_formations.yml
  data/nlu/nlu_intents.yml
  domain.yml
Due: AutoTrain:uate

Push de test
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Update README.md
  README.md
Due: none

Path conditions:
  AutoTrain:uate: any of: data/**/*
  AutoBuildImage:uate: any of: actions/**/*
  AutoBuildImage:uape: any of: actions/**/*
  AutoDeploy:helmChart:uate: any of: actions/**/*
  AutoDeploy:helmChart:uape: any of: actions/**/*
  AutoDeploy:kubeConfig:uape: any of: DevOps/helm/configs/graphdb.yaml
