Repository philharmoniedeparis/ScoreBot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape, AutoDeploy:kubeConfig:uape

AutoTrain:uate:
  environment:
    action: prepare
    name: uat

AutoBuildImage:uate:
  environment:
    action: prepare
    name: uat
  image: docker:20.10.20
  variables:
    IMAGE_ENV: -uate

AutoBuildImage:uape:
  environment:
    action: prepare
    name: prd
  image: docker:20.10.20
  variables:
    IMAGE_ENV: ''

AutoDeploy:helmChart:uate:
  stage: deploy
  needs:
  - AutoBuildImage:uate
  environment:
    name: uat
  variables:
    IMAGE_ENV: -uate

AutoDeploy:helmChart:uape:
  stage: deploy
  needs:
  - AutoBuildImage:uape
  environment:
    name: prd
  variables:
    IMAGE_ENV: ''

AutoDeploy:kubeConfig:uape:
  stage: deploy
  environment:
    name: prd

Update .gitlab-ci.yml, Dockerfile
  .gitlab-ci.yml
  Dockerfile
Due: none

* fix
  .gitlab/templates/.AutoDeploy.template.gitlab-ci.yml
Due: none

* fix
  Dockerfile
Due: none

*fix
  Dockerfile
Due: none

Add new examples to improve NLU
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate

* fix
  .gitlab-ci.yml
  .gitlab/templates/.AutoDeploy.template.gitlab-ci.yml
Due: none

* fix
  .gitlab-ci.yml
Due: none

* fix job depedency
  .gitlab-ci.yml
Due: none

Update DevOps/helm/configs/graphdb.yaml
  DevOps/helm/configs/graphdb.yaml
Due: AutoDeploy:kubeConfig:uape

Update .gitlab-ci.yml, DevOps/helm/configs/graphdb.yaml
  .gitlab-ci.yml
  DevOps/helm/configs/graphdb.yaml
Due: AutoDeploy:kubeConfig:uape

Fix last work_name entity detection
  actions/actions.py
  data/nlu/nlu_entities_mimo.yml
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
  utils/medias_synonyms.py
  utils/work_names_synonyms.py
Due: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Add new hard-coded examples to fit test set
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate

New action server and NLU data fixes to fit all examples provided by philharmonie staff
  actions/actions.py
  data/nlu/nlu_entities_mimo.yml
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
  utils/medias_synonyms.py
  utils/work_names_synonyms.py
Due: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Add missing duckling locale, fix number entity handling
  actions/actions.py
  config.yml
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Add new answer formulation to follow Philharmonie guidelines
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Add new genres, modify work_names and agents
  data/nlu/nlu_entities_agents.yml
  data/nlu/nlu_entities_genres.yml
  data/nlu/nlu_intents.yml
  utils/agents_synonyms.py
  utils/genres_synonyms.py
  utils/intent_writer.py
  utils/work_names_synonyms.py
Due: AutoTrain:uate

Create new logic for formation
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Add compositeurLabel and scoreResearch for better reading
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Add summary of criterias in answer
  actions/actions.py
  data/nlu/nlu_entities_genres.yml
  data/nlu/nlu_intents.yml
  utils/genres_synonyms.py
Due: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Solve period fuzzy search with case sensitivity
  utils/periods_synonyms.py
  utils/write_entities.py
Due: none

Debug, add new training examples
  actions/actions.py
  data/nlu/nlu_entities_level.yml
  data/nlu/nlu_entities_mimo.yml
  data/nlu/nlu_entities_periods.yml
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
  utils/levels_synonyms.py
  utils/medias_synonyms.py
  utils/work_names_synonyms.py
Due: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Fix entity keyword replacement bug for location_adjective
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate

Delete weird catch all instruments from vocab
  data/nlu/nlu_entities_iaml.yml
  data/nlu/nlu_intents.yml
  utils/medias_synonyms.py
Due: AutoTrain:uate

add quatuor as work_name instead of only formation
  data/nlu/nlu_intents.yml
  utils/work_names_synonyms.py
Due: AutoTrain:uate

Hotfix
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate

Clarify bot response with criteria when fail
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Balance "quatuor" as work_name & formation
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate

Delete period/genre synonym like baroque, add true ones
  data/nlu/nlu_entities_periods.yml
  data/nlu/nlu_intents.yml
  utils/periods_synonyms.py
Due: AutoTrain:uate

Make full text search fuzzy
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Add extracted work names as examples
  data/nlu/nlu_intents.yml
  utils/work_names_synonyms.py
Due: AutoTrain:uate

merge develop into main
  .gitlab-ci.yml
Due: none

Add new examples, and use prd graphdb endpoint instead of dev one
  data/nlu/nlu_entities_agents.yml
  data/nlu/nlu_entities_genres.yml
Due: AutoTrain:uate

Develop
  .gitlab-ci.yml
  actions/actions.py
  config.yml
  data/nlu/nlu_entities_agents.yml
  data/nlu/nlu_entities_genres.yml
  data/nlu/nlu_entities_iaml.yml
  data/nlu/nlu_entities_level.yml
  data/nlu/nlu_entities_mimo.yml
  data/nlu/nlu_entities_periods.yml
  data/nlu/nlu_intents.yml
  utils/agents_synonyms.py
  utils/genres_synonyms.py
  utils/intent_writer.py
  utils/levels_synonyms.py
  utils/medias_synonyms.py
  utils/periods_synonyms.py
  utils/work_names_synonyms.py
  utils/write_entities.py
Due: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Fixes after Jean tests
  .gitignore
  data/nlu/nlu_entities_agents.yml
  data/nlu/nlu_intents.yml
  utils/agents_synonyms.py
  utils/genres_synonyms.py
  utils/intent_writer.py
  utils/work_names_synonyms.py
Due: AutoTrain:uate

Add stories for tests
  data/nlu/nlu_entities_genres.yml
  tests/test_stories.yml
Due: AutoTrain:uate

Increase proxy body size
  DevOps/helm/configs/graphdb.yaml
Due: AutoDeploy:kubeConfig:uape

Path conditions:
  AutoTrain:uate: any of: data/**/*
  AutoBuildImage:uate: any of: actions/**/*
  AutoBuildImage:uape: any of: actions/**/*
  AutoDeploy:helmChart:uate: any of: actions/**/*
  AutoDeploy:helmChart:uape: any of: actions/**/*
  AutoDeploy:kubeConfig:uape: any of: DevOps/helm/configs/graphdb.yaml
