Repository philharmoniedeparis/ScoreBot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape, AutoDeploy:kubeConfig:uape

AutoTrain:uate:
  environment:
    action: prepare
    name: uat

AutoBuildImage:uate:
  environment:
    action: prepare
    name: uat
  image: docker:20.10.20
  variables:
    IMAGE_ENV: -uate

AutoBuildImage:uape:
  environment:
    action: prepare
    name: prd
  image: docker:20.10.20
  variables:
    IMAGE_ENV: ''

AutoDeploy:helmChart:uate:
  stage: deploy
  needs:
  - AutoBuildImage:uate
  environment:
    name: uat
  variables:
    IMAGE_ENV: -uate

AutoDeploy:helmChart:uape:
  stage: deploy
  needs:
  - AutoBuildImage:uape
  environment:
    name: prd
  variables:
    IMAGE_ENV: ''

AutoDeploy:kubeConfig:uape:
  stage: deploy
  environment:
    name: prd

Add socket io for web widget
  credentials.yml
Due: none

* fix
  Dockerfile
Due: none

* fix
  Dockerfile
  credentials.yml
Due: none

* fix
  DevOps/helm/values.yaml
Due: none

* add true/false
  DevOps/helm/values.yaml
Due: none

Add buggy example from live tests
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate

* Fix *typo
  .gitlab/agents/philharmonie-prd/config.yaml
  .gitlab/agents/philharmonie/config.yaml
Due: none

Update file config.yaml
  .gitlab/agents/philharmonie-prd/config.yaml
Due: none

Only display full results on button click
  .gitignore
  actions/actions.py
  data/stories.yml
Due: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Buttons functional for composer selection
  actions/actions.py
  config.yml
  data/rules.yml
  data/stories.yml
  domain.yml
  frontend.html
  utils/intent_writer.py
Due: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Buttons functional for composer selection
  .gitignore
  actions/actions.py
  config.yml
  data/rules.yml
  data/stories.yml
  domain.yml
  frontend.html
  utils/intent_writer.py
Due: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Buttons functional for composer selection
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Functional buttons and flow V1
  actions/actions.py
  config.yml
  data/nlu/nlu-basic.yml
  data/nlu/nlu_intents.yml
  data/rules.yml
  data/stories.yml
  domain.yml
  utils/agents_synonyms.py
  utils/intent_writer.py
Due: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Fix on buttons
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Fix domain file format for cloud training
  domain.yml
Due: none

Dummy training push
  data/nlu/nlu-basic.yml
Due: AutoTrain:uate

Fix wrong version number in training files
  data/rules.yml
  data/stories.yml
Due: AutoTrain:uate

Fix slots setting problems
  actions/actions.py
  data/nlu/nlu_intents.yml
  data/rules.yml
  data/stories.yml
  domain.yml
  utils/intent_writer.py
Due: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Print full stacktrace in choice actions
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Change non-existing utter rule to action
  data/rules.yml
Due: AutoTrain:uate

Dummy push for train
  data/nlu/nlu-basic.yml
Due: AutoTrain:uate

Modify wording to ask for user display decision
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Allow user to type manual query anytime
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Plug frontend to dev, add custom domain to gitignore
  .gitignore
  frontend.html
Due: none

Fix error in slot memory handling
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Fix work_name_choice unhandled until now
  actions/actions.py
  domain.yml
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Dummy training data
  data/nlu/nlu-basic.yml
Due: AutoTrain:uate

Fix missing work_name slot carrying
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Fix wrong level entity error handling
  actions/actions.py
  data/nlu/nlu_entities_agents.yml
  data/nlu/nlu_entities_level.yml
  data/nlu/nlu_intents.yml
  utils/levels_synonyms.py
Due: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Fix slot setting from main intent
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Fix remaining buttons displayed after some choices
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Fix weird sum bug in buttons
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Fix wrong instrumentation button appearing
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Fix wrong get_criteria_button call
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Add link at the end of results
  actions/actions.py
  domain.yml
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Fix the wording of philharmonie url to results
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Hotfix
  actions/actions.py
Due: AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Fix button filter query error by displaying other buttons
  actions/actions.py
  data/nlu/nlu_entities_level.yml
  data/nlu/nlu_intents.yml
  utils/levels_synonyms.py
  utils/work_names_synonyms.py
Due: AutoTrain:uate, AutoBuildImage:uate, AutoBuildImage:uape, AutoDeploy:helmChart:uate, AutoDeploy:helmChart:uape

Add one wording
  data/nlu/nlu_intents.yml
  utils/intent_writer.py
Due: AutoTrain:uate

Path conditions:
  AutoTrain:uate: any of: data/**/*
  AutoBuildImage:uate: any of: actions/**/*
  AutoBuildImage:uape: any of: actions/**/*
  AutoDeploy:helmChart:uate: any of: actions/**/*
  AutoDeploy:helmChart:uape: any of: actions/**/*
  AutoDeploy:kubeConfig:uape: any of: DevOps/helm/configs/graphdb.yaml
